language: ruby
rvm:
  - 2.3
  - 2.4
  - 2.5
  - 2.6
  - 2.7
gemfile:
  - gemfiles/4.0.gemfile
  - gemfiles/5.0.gemfile
  - gemfiles/6.0.gemfile
matrix:
  fast_finish: true
  exclude:
    - rvm: 2.2
      gemfile: gemfiles/6.0.gemfile
    - rvm: 2.3
      gemfile: gemfiles/6.0.gemfile
    - rvm: 2.4
      gemfile: gemfiles/4.0.gemfile
    - rvm: 2.4
      gemfile: gemfiles/6.0.gemfile
    - rvm: 2.5
      gemfile: gemfiles/4.0.gemfile
    - rvm: 2.6
      gemfile: gemfiles/4.0.gemfile
    - rvm: 2.7
      gemfile: gemfiles/4.0.gemfile
    - rvm: 2.7
      gemfile: gemfiles/5.0.gemfile
before_install:
  - gem install bundler -v 1.17.3 || 
